@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #575757;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171717;
  padding: 20px;
  box-shadow: 5px 5px 10px #111;
  border-radius: 30px;
}

#calculator #view {
  width: 350px;
  padding: 0 20px;
  font-size: 35px;
  text-align: right;
  letter-spacing: 0.05em;
  font-family: 'Langar';
}

#calculator #buttons {
  width: 100%;
  margin-top: 10px;
}

#calculator .row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  font-family: 'Langar';
  margin-top: 10px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ac, #backspace {
  background-color: crimson;
  color: #fff;
}

#add, #sub,
#times, #div {
  color: #fff;
  background-color: goldenrod;
}

#equal {
  grid-area: equal;
  background-color: teal;
  color: #EEE;
}
