@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #252535, #787889);
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #454556;
  padding: 10px;
  box-shadow: 1px 1px 5px rgb(34, 34, 34);
}

#calculator #view {
  padding: 0 20px;
  font-size: 35px;
  text-align: right;
  letter-spacing: 0.05em;
  font-family: 'Langar';
}

#calculator #buttons {
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-gap: 10px;
  grid-template: "ac ac . add"
                  ". . . sub"
                  ". . . times"
                  ". . . div"
                  "zero zero zero equal";
}

button {
  padding: 15px 0;
  cursor: pointer;
  font-size: 25px;
  font-family: 'Langar';
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #EFEFFF;
  border: none;
  border-radius: 10px;
  transition: all .1s;
}

#backspace {
  padding: 22px 0;
}

#ac {
  grid-area: ac;
}

#add, #sub,
#times, #div {
  color: #EEE;
  background-color: #252535;
}

#add {
  grid-area: add;
}

#sub {
  grid-area: sub;
}

#times {
  grid-area: times;
}

#div {
  grid-area: div;
}

#zero {
  grid-area: zero;
}

#equal {
  grid-area: equal;
  background-color: #0d0030;
  color: #EEE;
}